<h1>Create a New User</h1>

<%= form_for @user do |f| %>
  User Name: <%= f.text_field :username %>
  Password: <%= f.text_field :password %>
  First Name: <%= f.text_field :first_name %>
  Last Name: <%= f.text_field :last_name %>
  Email: <%= f.text_field :email %>
  <%= f.submit %>
<% end %>

