<h1>New Comment</h1>
<%= form_for :post, url: posts_path do |f| %>
  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>

  <p>
    <%= f.label :body %><br>
    <%= f.text_field :body %>
  </p>

    <%= f.hidden_field :parent_post_id, :value => params[:parent_id] %>

  <p>
    <%= f.submit 'Save Comment' %>
  </p>
<% end %>