<h1>Posts Index</h1>
<% @posts.each do |post| %>
  <h3> <%= post.id %> <%= post.title %> </h3>
  <p> <%= post.body %> </p>
  <p> <%= link_to 'Comment', new_post_path(:yield => "comment", :parent_id => post.id )%></p>
<%end%>
<br>
<p> <%= link_to 'New Post', new_post_path(:yield => "post") %> </p>
